* {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7em;
}

h1 {
    line-height: 1em;
}

.h1-inline {
    display:inline;
}

.h2-inline {
    margin-left: 1rem;
    display: inline;
}

main {
    max-width: 980px;
    margin: 0 auto;
}

/* Project Components */

.box {
    background-color: white;
    border-radius: 16px;
    margin: 16px 0;
    padding: 0;
}

.scrolling_background {
    height: 100rem;
}

.sticky_box {
    position: -webkit-sticky;
    position: sticky;
    top: 7.5vh;
    /* height: 85vh; */
}

.section_intro {
    margin: 0 auto;
    padding: 5vh 5vw;
}

.brief {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 7.5vh;
    /* height: 85vh; */
    /* justify-content: center; */
}

.brief-no-scroll {
    display: flex;
}

.text_content {
    padding: .25rem 1rem;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centered-text-box {
    display: flex;
    justify-content: center;
    width: 15%;
}

.seventy-text-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 66%;
}

.thirty-text-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 32%;
}

.thirty-text {
    width: 75%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

/* .next-text {
    margin-left: 1rem;
} */

.previous-arrow {
    margin: auto;
    height: 1.5rem;
    fill: none;
    stroke: #3a6185;
    stroke-linecap: round;
    stroke-width: 25.51px;
    transform: rotate(180deg);
}

.next-arrow {
    margin: auto;
    height: 1.5rem;
    fill: none;
    stroke: #3a6185;
    stroke-linecap: round;
    stroke-width: 25.51px;
}

@media only screen and (max-width: 990px) {
    .box {
        margin-left: 5px;
        margin-right: 5px;
        transform-origin: center;
    }

    .section_intro {
        padding: 0;
    }

    .brief-no-scroll {
        top: 13rem;
        flex-direction: column-reverse;
    }

}








