* {
      
      color: white;
}

body {
      
      background-color: rgb(58, 97, 133);
}

h1 {
      color: white;
      margin: 8px 0;
}

h2 {
      margin: 8px 0;
}

a {
      text-decoration: none;
}

.stage {
      display: flex;
      height: 80vh;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      /* padding-top: 4rem; */
}

.circle {
      /* grid-column: 4 / -1;
      grid-row: 1; */
      margin: 10vh 5vw 0 5vw;
      height: 20vw;
      width: 20vw;
      max-width: 300px;
      max-height: 300px;
      border-radius: 100%;
      background-color: rgb(22, 56, 87);
      position: relative;
}

/* .logos {
      grid-column: 1 / span 8;
      grid-row: 1;    
} */

.logo-1 {
     
      position: absolute;
      top: 9%;
      left: 25%;
      width: 50%;
      opacity: 33%;
      transform: rotate(180deg);
      transition: transform 1s;
}

.circle:hover .logo-1 {
      transform: translate(0, 25%) rotate(0deg);
}

.logo-2 {

      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      transform: rotate(60deg) translate(0, 35%);
      fill: red;
      opacity: 34%;
      transition: transform 1s;
}

.circle:hover .logo-2 {
      transform: rotate(0deg) translate(0, -7%);
}

.logo-3 {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      opacity: 33%;

      transform: rotate(-60deg) translate(0, 35%);

      transition: transform 1s;
}

.circle:hover .logo-3 {
      transform: rotate(0deg) translate(0, -7%);
}

.text-circle {
      /* border: salmon 3px solid; */
      margin: 0;
      padding: 0;
      /* font-family: 'avenir'; */
      font-size: 1.5rem;
      fill: white;
      
      position: absolute;
      left: -5vw;
      top: -5vw;
      width: 30vw;
      height: 30vw;
      font-weight: bold;
      animation: spin-to-top 30s linear infinite;
}

.first-title {
      transform-origin: 50% 50%;
      opacity: 33%;
      animation: spin 15s cubic-bezier(.21,.4,.63,.83) infinite; 
}

.second-title {
      transform-origin: 50% 50%;
      opacity: 34%;
      animation: spin 15s ease-in-out infinite reverse;
}

.third-title {
      transform-origin: 50% 50%;
      opacity: 33%;
      animation: spin 15s cubic-bezier(.45,.2,.82,.6) infinite;
      
}

/* .circle:hover .text-circle {
      animation: spin-to-top 5s linear infinite;
    } */
    
@keyframes spin {
    
      0% {
        transform: rotate(0);
      }

      30% {

            transform: rotate(0);
      }
    
      100% {
        transform: rotate(360deg);
      }
    
    }

@keyframes spin-to-top {
      to {transform: rotate(360deg);}
}
    

/* .rotating-icon {
      width: 18rem;
      margin: 1rem;
      
      animation-name: pointies;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
} */



@keyframes clockwise {
from {transform: rotate(0deg);}

to {transform: rotate(360deg);}
}

@keyframes counterclockwise {
from {transform: rotate(360deg);}

to {
      transform: rotate(0deg);}
}

.lines {
      transform-origin: center;
      animation-name: clockwise;
      animation-duration: 60s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.dots {
      transform-origin: center;
      animation-name: counterclockwise;
      animation-duration: 230s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.ufos {
      transform-origin: center;
      animation-name: clockwise;
      animation-duration: 100s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.pointies {
      transform-origin: center;
      animation-name: counterclockwise;
      animation-duration: 120s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}



/* SVG Style */


.rotating-icon {
      width: 18rem;
      margin: 1rem;
      grid-column-start: 1;
      grid-row-start: 1;
      position: absolute;
  }

.icon-text {
      position: absolute;
      text-align: center;
      word-wrap: break-word;
      width: 13rem;
      opacity: 0;
      transition: 1s;
      filter: blur(16px);
      font-size: 1.7rem;
  }
  
  
  .logo-box {
     margin: 1rem auto;
      width: 18rem;
      height: 18rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #logo {
      fill: white;
      height: 5rem;
      transition: 1s;
      
  }
  
  .logo-box:hover #logo {
      transition: 1s;
      filter: blur(16px);
      opacity: 0%;
  }
  
  .logo-box:hover .logo-text {
      transition: 1s;
      filter: blur(0px);
      opacity: 100%;
  }
  
  
  
  .rotating-icon:hover .cls-1 {
      fill: white;
      
  }
  
  .cls-1 {
      fill: white;
    }
  
  .lines {
    transform-origin: center;
    animation-name: clockwise;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .dots {
    transform-origin: center;
    animation-name: counterclockwise;
    animation-duration: 230s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .ufos {
    transform-origin: center;
    animation-name: clockwise;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .pointies {
    transform-origin: center;
    animation-name: counterclockwise;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes clockwise {
  from {transform: rotate(0deg);}
  
  to {transform: rotate(360deg);}
  }
  
  @keyframes counterclockwise {
  from {transform: rotate(360deg);}
  
  to {
    transform: rotate(0deg);}
  }
  body {
      background-color: rgb(58, 97, 133);
  }

  @media only screen and (max-width: 990px) {

      .logo-box {
            width: 12rem;
            height: 12rem;
            margin: 2rem;
      }

      .rotating-icon {
            width: 12rem;
            height: 12rem;
            
      }

      .icon-text {
            font-size: 1.3rem;
            width: 9rem;
      }

  }