body {
  height: 200vh;
  display: flex;
}

h1 {
    color: #fff;
    font-size: 28px;
}

.icon-text {
    position: absolute;
    text-align: center;
    word-wrap: break-word;
    width: 13rem;
    opacity: 0;
    transition: 1s;
    filter: blur(16px);
}


#santander-box {
   margin: 0 auto;
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#santander-logo {
    fill: white;
    height: 5rem;
    transition: 1s;
    
}

#santander-box:hover #santander-logo {
    transition: 1s;
    filter: blur(16px);
    opacity: 0%;
}

#santander-box:hover #santander-text {
    transition: 1s;
    filter: blur(0px);
    opacity: 100%;
}

.rotating-icon {
    width: 18rem;
    margin: 1rem;
    grid-column-start: 1;
    grid-row-start: 1;
    position: absolute;
}

.rotating-icon:hover .cls-1 {
    fill: white;
    
}

.cls-1 {
    fill: white;
  }

.lines {
  transform-origin: center;
  animation-name: clockwise;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.dots {
  transform-origin: center;
  animation-name: counterclockwise;
  animation-duration: 230s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ufos {
  transform-origin: center;
  animation-name: clockwise;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pointies {
  transform-origin: center;
  animation-name: counterclockwise;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes clockwise {
from {transform: rotate(0deg);}

to {transform: rotate(360deg);}
}

@keyframes counterclockwise {
from {transform: rotate(360deg);}

to {
  transform: rotate(0deg);}
}
body {
    background-color: rgb(58, 97, 133);
}