a {
    color:rgb(58, 97, 133);
    cursor:pointer;
    text-decoration: none;
}

a:hover {
    color:#BB2036;
    cursor:pointer;
    text-decoration: none;
}

.image-and-text {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
    
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: auto;
}

.personal-intro {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 0px;
}

@media only screen and (max-width: 773px) {

      .personal-intro {
            width: 100%;
      }
}